{% extends 'base.html' %}
{% load static %}

{% block titolo %}
    e-Comerce
{% endblock %}

{% block conteudo %}

{% block pagiana %}
    Loja_x
{% endblock %}

{% block info %}
    Informação Loja_x
{% endblock %}

        <div class="clear"></div>

        <!--Produto-->
        <div id="productPage">

            <div id="topProductPage">

                <a href="/" style="
                                float: left;
                                margin-right: 5px;
                            ">Início
                </a> / Sou um produto

                <div style="float: right">

                    &lt; <a href="" style="padding: 5px"> Anterior </a> |

                    <a href="" style="padding: 5px"> Próximo </a> &gt;

                </div>

            </div>

            <div id="about">

                <h1 style="margin-top: 0px">Sou um produto</h1>

                <br>

                <p> <strong> R$ 0,00 </strong> </p>

                <br>

                <form>
                    Cor:
                    <input type="radio" name="cor"> Preto
                    <input type="radio" name="cor"> Branco

                    <br><br><br>

                    Quantidade:
                    <select>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                    </select>

                    <br><br><br>

                    <input class="btn btn-lg btn-block btn-outline-secondary"
                           type="button" value="Adicionar ao carrinho">
                    <br>

                    <input class="btn btn-lg btn-dark btn-block"
                           type="button" value="Compar">

                </form>

                <br><br>

                <details>
                    <summary> <strong>INFORMAÇÕES DO PRODUTO</strong> </summary>
                    <p><strong>Sou uma informação do produto. Sou o lugar
                        para adicionar informações o produto, como
                        tamanho, material, cuidados especiais e
                        instruções para limpeza. Posso descrever
                        porque este produto é especial e como os
                        clientes podem se beneficiar dele.</strong></p>
                </details>

                <hr>

                <details>
                    <summary> <strong>POLÍTICA DE RETORNO E REEMBOLSO</strong> </summary>
                    <p><strong>Política de retorno e reembolso. Sou o lugar
                        para os clientes saibam o que fazer caso
                        estejam insatisfeitos com a compra. Ter uma
                        política de reembolso ou de retorno é uma
                        ótima maneira de estabelecer a confiança e
                        garantir que os clientes podem comprar com
                        segurança.</strong></p>
                </details>

                <hr>

                <details>
                    <summary> <strong>INFORMAÇÕES DE ENTREGA</strong> </summary>

                    <p><strong>Sou uma política de envio. Sou o lugar para
                        adicionar mais informações sobre os métodos
                        de entrega, embalagens e custo. Ter uma
                        política de entrega é uma ótima maneira de
                        estabelecer confiança e garantir que os
                        clientes podem comprar com segurança.</strong></p>
                </details>

            </div>

            <div id="product">
                <img src="{% static 'img/produto_01.png' %}">
            </div>

            <div id="imgsProduct">
                <img src="{% static 'image1.png' %}" style="padding: 10px">
                <img src="{% static 'imege2.png' %}" style="padding: 10px">
            </div>

            <div id="description">
                <p><strong>Sou uma descrição do produto. Sou o lugar para
                    adicionar mais detalhes sobre o produto, como
                    tamanho, material, cuidados especiais e
                    instruções para limpeza.</strong></p>
            </div>

        </div><!--Fim Proguto-->

{% endblock %}
