{% extends 'base.html' %}
{% load static %}

{% block titolo %}
    e-Comerce
{% endblock %}

{% block conteudo %}

{% block pagiana %}
    e-Commerce
{% endblock %}

{% block info %}
    Para negócios locais
{% endblock %}

        <div class="clear"></div>

        <!--Início Lista de Lojas-->
        <!--<div align="center" style="padding: 250px  0px  50px  0px">-->
        <div align="center" style="padding: 200px  0px  50px  0px">

            <!--Teste CRUD-->
            <div style="width: 200px">
                <a href="/teste-crud" style="text-decoration: none"><input class="btn btn-lg btn-dark btn-block" type="button" value="Teste CRUD"></a>
            </div><!--Fim Teste CRUD-->

            <a href="/loja_1" class="storeList">
                <img src="{% static 'img/loja_1.png' %}"></a>

            <a href="/loja_2" class="storeList">
                <img src="{% static 'img/loja_2.png' %}"></a>

            <a href="/loja_3" class="storeList">
                <img src="{% static 'img/loja_3.png' %}"></a>

        </div><!--Fim Lista de Lojas-->

{% endblock %}
