{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>

        {% include '_styleSettings.html' %}

        <title>Login</title>

    </head>

    <body>

        <div style="
                position: fixed;
                top: 60px;
                right: 70px;
            ">

            <a href="/"> <img src="{% static 'img/fechar.png' %}"> </a>

        </div>

        <div id="login">

            <div>
                <h1 class="display-4">Registre-se</h1>
                <br>
            </div>

            <div>
                <h5>Já é membro? <span>
                        <a href=""style="color: blue">Login</a>
                    </span>
                </h5>
            </div>

            <br>

            <div>
                <a href="#"><img src="{% static 'img/face-login.png' %}"></a>
            </div>

            <div style="padding-top: 10px">
                <a href="#"><img src="{% static 'img/google-login.png' %}"></a>
            </div>

            <div style="padding-top: 7px">
                ____________________ou______________________
            </div>

            <br>

                <input class="btn btn-block btn-outline-secondary"
                           type="button" value="Registre-se com seu email">
                <br>

        </div>

    </body>

</html>
