{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">

    </head>

    <body>

        <div style="position: fixed; top: 65px; right: 50px;">
            <a href="/"> <img src="{% static 'img/fechar.png' %}"> </a>
        </div>

        <div id="login">

            <div>
                <h1>Registre-se</h1>
            </div>

            <div>
                <h4>Já é membro? <span><a href="#">Login</a></span></h4>
            </div>

            <div>
                <a href="#"><img src="{% static 'img/face-login.png' %}"></a>
            </div>

            <div>
                <a href="#"><img src="{% static 'img/google-login.png' %}"></a>
            </div>

            <div>_______________ou_________________</div>

            <br>

            <div style="
                    border: 1px solid;
                    width: 294px;
                    height: 36px;
                    margin: 0px auto;
                 ">

                <a href="" style="
                                position: relative;
                                top: 10px;
                            "> Registre-se com seu email </a>

            </div>

        </div>

    </body>

</html>
