{% load static %}

<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <title>e-Commerce</title>

        <link rel="stylesheet" type="text/css"
              href="{% static 'css/estilos.css' %}">

    </head>

    <body>

        <!--Início Cabeçalho-->
        <div id="cabecalho">

            <div id="top">

                <img src="{% static 'img/whatsapp.png' %}"
                     style="float: left; margin:5px 0px 0px 42px">

                <a href="https://wa.me/5591985048150"
                   target="_blank" onclick="window.open(this.href); return false;"
                   style="
                        float: left;
                        margin: 12px 30px 0px 7px
                   "> Fale pelo whatsapp
                </a>

                <img src="{% static 'img/duvida.png' %}"
                     style="float: left; margin-top: 5px">

                <a href="tel:5591985048150" style="float: left; margin: 12px 0px 0px 7px">
                    Tire suas dúvidas</a>

                <img src="{% static 'img/pesquisa.png' %}"
                     align="right" style="margin-right: 57px">

                <div class="clear"></div>

            </div>

            <div class="title">

                <div>
                    <h1 style="margin: 10px 0px 0px 45px">e-Commerce</h1>
                </div>

                <div>
                    <h3 style="margin:5px 0px 0px 45px">Comércio Local</h3>
                </div>

            </div>

            <div align="right" style="
            position: absolute;
            top: 110px;
            right: 75px">

                <a href=""><img src="{% static 'img/cart.png' %}"
                                style="float: right; padding-left: 15px"></a>

                <a href=""><img src="{% static 'img/pint.png' %}"
                                style="float: right; padding:5px 0px 0px 15px"></a>

                <a href=""><img src="{% static 'img/insta.png' %}"
                                style="float: right; padding:5px 0px 0px 15px"></a>

                <a href=""><img src="{% static 'img/face.png' %}"
                                style="float: right; padding:5px 0px 0px 25px"></a>

                <a href="http://127.0.0.1:8000/login"
                   style="float: right; padding: 5px 0px 0px 15px">Login</a>

                <img src="{% static 'img/login.png' %}"
                     style="float: right">

            </div>

            <div class="menu">

                <a href="" style="padding: 15px">Loja</a>
                <a href="" style="padding: 15px">Sobre</a>
                <a href="" style="padding: 15px">FAQ</a>
                <a href="" style="padding: 15px">Contato</a>

            </div>

        </div><!--Fim Cabeçalho-->


        <div class="clear"></div>


        <!--Início Lista de Lojas-->
        <div align="center" style="margin-top: 225px">

            <a href="http://127.0.0.1:8000/loja_1"class="storeList">
                <img src="{% static 'img/loja_1.png' %}"></a>

            <a href="http://127.0.0.1:8000/loja_2" class="storeList">
                <img src="{% static 'img/loja_2.png' %}"></a>

            <a href="http://127.0.0.1:8000/loja_3" class="storeList">
                <img src="{% static 'img/loja_3.png' %}"></a>

        </div><!--Fim Lista de Lojas-->

    </body>

</html>
