{% extends 'base.html' %}
{% load static %}

{% block titolo %}
    e-Comerce
{% endblock %}

{% block conteudo %}

{% block pagiana %}
    e-Commerce
{% endblock %}

{% block info %}
    Para comércios locais
{% endblock %}

        <div class="clear"></div>

        <!--Início Lista de Lojas-->
        <div align="center" style="margin-top: 250px">

            <a href="/loja_1" class="storeList">
                <img src="{% static 'img/loja_1.png' %}"></a>

            <a href="/loja_2" class="storeList">
                <img src="{% static 'img/loja_2.png' %}"></a>

            <a href="/loja_3" class="storeList">
                <img src="{% static 'img/loja_3.png' %}"></a>

        </div><!--Fim Lista de Lojas-->

{% endblock %}
