{% extends 'base.html' %}
{% load static %}

{% block titolo %}
    Loja_2
{% endblock %}

{% block conteudo %}

{% block pagiana %}
    Loja_2
{% endblock %}

{% block info %}
    Informação Loja_2
{% endblock %}

        <div class="clear"></div>

        <!--Início Lista de Produtos-->
        <div align="center" style="margin-top: 225px">

            <a href="/produto" class="productList"><img
                    src="{% static 'img/produto_01.png' %}"></a>

            <a href="/produto" class="productList"><img
                    src="{% static 'img/produto_02.png' %}"></a>

            <a href="/produto" class="productList"><img
                    src="{% static 'img/produto_03.png' %}"></a>

            <a href="/produto" class="productList"><img
                    src="{% static 'img/produto_04.png' %}"></a>

            <a href="/produto" class="productList"><img
                    src="{% static 'img/produto_05.png' %}"></a>

            <a href="/produto" class="productList"><img
                    src="{% static 'img/produto_06.png' %}"></a>

            <a href="/produto" class="productList"><img
                    src="{% static 'img/produto_07.png' %}"></a>

            <a href="/produto" class="productList"><img
                    src="{% static 'img/produto_08.png' %}"></a>

            <a href="/produto" class="productList"><img
                    src="{% static 'img/produto_09.png' %}"></a>

            <a href="/produto" class="productList"><img
                    src="{% static 'img/produto_10.png' %}"></a>

            <a href="/produto" class="productList"><img
                    src="{% static 'img/produto_11.png' %}"></a>

            <a href="/produto" class="productList"><img
                    src="{% static 'img/produto_12.png' %}"></a>

        </div><!--Fim Lista de Produtos-->

{% endblock %}
